/* .main-content{
    display: flex;
    justify-content: space-evenly;
}

.card{
    border-radius: 20px;
    height: 300px;
    width: 200px;
}

.details{
    padding-top: 100px;
    padding-left: 40px;
    width: 400px;
} */



/* 
.card{
    background-color: none;
} */

/* .main-card{
    display: flex!important;
}

.image{
    display: flex;
} */

/* .Link .button{
    text-decoration: none;
} */